

.header{
	background-color: black;
	height: 14.8vmax;
}

.navbar{
	display: inline;
	text-align: right;
	position: absolute;
	left:31vw;
	top: 35px;
	word-spacing: 1rem;
}



.textdec{
	text-decoration: none;
	color:white; 
	
}

.navbar .textdec{
	color:white;
	text-decoration: none;
	word-spacing: 1rem;
}



.div-head-img{
	display: inline;
}



.form{
	position: absolute;
	left:79vw;
	top: 30px;
}

.pic{
	height: 200px;
}

.main{
	background-color:lavender;
	height: 103vmax;
}

.head{
	display: inline;
	margin:18px;
}

.text{
	text-indent: 1rem;
	font-size:1.2rem;
	text-align: justify;
	width:270px;
	margin:30px;
	
}

.column1{
	display:flex;
	width: 333px;
}

.column2{
	display: flex;
	width: 333px;
}

.column3{
	display: flex;
	width: 333px;

}

.col{
	width:385px;
	background-color: gray;
	text-align:center;
	padding:15px;
	margin-left:15px; 
	
}

.pic1{
	width:414px;
	height: 300px;
	padding:15px;
}

.footer{
	background-color:black ;
	height: 10vmax;
}

.list{
	display: inline;
	word-spacing: 1rem; 

}

a:hover{
	color: yellow;
	
}

.div-foot,.div-foot1,.copyright{
	position: absolute;
	left: 58vmax;
	bottom: -178vh;
}

.div-foot1{
	left:84.3vmax;
	bottom:-173vh;
}

.copyright{
	color: white;
	font-size: 18px;
	word-spacing: 0.5rem;
	left:5vmax;
	bottom:-178vh;
}